In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# tej_key
tej_key = 'Pu40j7vo4H5GMSNYaZY0Eyv5zM2LFp'
api_base = 'https://api.tej.com.tw'

os.environ['TEJAPI_KEY'] = tej_key 
os.environ['TEJAPI_BASE'] = api_base

In [2]:
from zipline.sources.TEJ_Api_Data import get_universe

pool = get_universe(start = '2023-01-03', 
                    end = '2023-01-03',  # 選取 2021 年年初已上市的股票
                    mkt_bd_e = 'TSE',  # 填入：上市一般版股票(不含創新版)
                    stktp_e = 'Common Stock',  # 填入：普通股股票 
                    main_ind_e = 'General Industry') # general industry 篩掉金融產業
pool

Currently used TEJ API key call quota 98/1000 (9.8%)
Currently used TEJ API key data quota 1135171/10000000 (11.35%)

['1101',
 '1102',
 '1103',
 '1104',
 '1108',
 '1109',
 '1110',
 '1201',
 '1203',
 '1210',
 '1213',
 '1215',
 '1216',
 '1217',
 '1218',
 '1219',
 '1220',
 '1225',
 '1227',
 '1229',
 '1231',
 '1232',
 '1233',
 '1234',
 '1235',
 '1236',
 '1301',
 '1303',
 '1304',
 '1305',
 '1307',
 '1308',
 '1309',
 '1310',
 '1312',
 '1313',
 '1314',
 '1315',
 '1316',
 '1319',
 '1321',
 '1323',
 '1324',
 '1325',
 '1326',
 '1339',
 '1342',
 '1402',
 '1409',
 '1410',
 '1413',
 '1414',
 '1416',
 '1417',
 '1418',
 '1419',
 '1423',
 '1432',
 '1434',
 '1435',
 '1436',
 '1437',
 '1438',
 '1439',
 '1440',
 '1441',
 '1442',
 '1443',
 '1444',
 '1445',
 '1446',
 '1447',
 '1449',
 '1451',
 '1452',
 '1453',
 '1454',
 '1455',
 '1456',
 '1457',
 '1459',
 '1460',
 '1463',
 '1464',
 '1465',
 '1466',
 '1467',
 '1468',
 '1470',
 '1471',
 '1472',
 '1473',
 '1474',
 '1475',
 '1476',
 '1477',
 '1503',
 '1504',
 '1506',
 '1512',
 '1513',
 '1514',
 '1515',
 '1516',
 '1517',
 '1519',
 '1521',
 '1522',
 '1524',
 '1525',
 '1526',
 '1527',
 '1528',
 '1529',
 '1530',
 '1531',
 '1532',
 '1533',
 '1535',
 '1536',
 '1537',
 '1538',
 '1539',
 '1540',
 '1541',
 '1558',
 '1560',
 '1568',
 '1582',
 '1583',
 '1587',
 '1597',
 '1598',
 '1603',
 '1604',
 '1605',
 '1608',
 '1609',
 '1611',
 '1612',
 '1614',
 '1615',
 '1616',
 '1617',
 '1618',
 '1701',
 '1702',
 '1707',
 '1708',
 '1709',
 '1710',
 '1711',
 '1712',
 '1713',
 '1714',
 '1717',
 '1718',
 '1720',
 '1721',
 '1722',
 '1723',
 '1725',
 '1726',
 '1727',
 '1730',
 '1731',
 '1732',
 '1733',
 '1734',
 '1735',
 '1736',
 '1737',
 '1752',
 '1760',
 '1762',
 '1773',
 '1776',
 '1783',
 '1786',
 '1789',
 '1795',
 '1802',
 '1805',
 '1806',
 '1808',
 '1809',
 '1810',
 '1817',
 '1903',
 '1904',
 '1905',
 '1906',
 '1907',
 '1909',
 '2002',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2012',
 '2013',
 '2014',
 '2015',
 '2017',
 '2020',
 '2022',
 '2023',
 '2024',
 '2025',
 '2027',
 '2028',
 '2029',
 '2030',
 '2031',
 '2032',
 '2033',
 '2034',
 '2038',
 '2049',
 '2059',
 '2062',
 '2069',
 '2101',
 '2102',
 '2103',
 '2104',
 '2105',
 '2106',
 '2107',
 '2108',
 '2109',
 '2114',
 '2201',
 '2204',
 '2206',
 '2207',
 '2208',
 '2211',
 '2227',
 '2228',
 '2231',
 '2233',
 '2241',
 '2247',
 '2301',
 '2302',
 '2303',
 '2305',
 '2308',
 '2312',
 '2313',
 '2314',
 '2316',
 '2317',
 '2321',
 '2323',
 '2324',
 '2327',
 '2328',
 '2329',
 '2330',
 '2331',
 '2332',
 '2337',
 '2338',
 '2340',
 '2342',
 '2344',
 '2345',
 '2347',
 '2348',
 '2349',
 '2351',
 '2352',
 '2353',
 '2354',
 '2355',
 '2356',
 '2357',
 '2358',
 '2359',
 '2360',
 '2362',
 '2363',
 '2364',
 '2365',
 '2367',
 '2368',
 '2369',
 '2371',
 '2373',
 '2374',
 '2375',
 '2376',
 '2377',
 '2379',
 '2380',
 '2382',
 '2383',
 '2385',
 '2387',
 '2388',
 '2390',
 '2392',
 '2393',
 '2395',
 '2397',
 '2399',
 '2401',
 '2402',
 '2404',
 '2405',
 '2406',
 '2408',
 '2409',
 '2412',
 '2413',
 '2414',
 '2415',
 '2417',
 '2419',
 '2420',
 '2421',
 '2423',
 '2424',
 '2425',
 '2426',
 '2427',
 '2428',
 '2429',
 '2430',
 '2431',
 '2433',
 '2434',
 '2436',
 '2438',
 '2439',
 '2440',
 '2441',
 '2442',
 '2443',
 '2444',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2457',
 '2458',
 '2459',
 '2460',
 '2461',
 '2462',
 '2464',
 '2465',
 '2466',
 '2467',
 '2468',
 '2471',
 '2472',
 '2474',
 '2476',
 '2477',
 '2478',
 '2480',
 '2481',
 '2482',
 '2483',
 '2484',
 '2485',
 '2486',
 '2488',
 '2489',
 '2491',
 '2492',
 '2493',
 '2495',
 '2496',
 '2497',
 '2498',
 '2501',
 '2504',
 '2505',
 '2506',
 '2509',
 '2511',
 '2514',
 '2515',
 '2516',
 '2520',
 '2524',
 '2527',
 '2528',
 '2530',
 '2534',
 '2535',
 '2536',
 '2537',
 '2538',
 '2539',
 '2540',
 '2542',
 '2543',
 '2545',
 '2546',
 '2547',
 '2548',
 '2597',
 '2601',
 '2603',
 '2605',
 '2606',
 '2607',
 '2608',
 '2609',
 '2610',
 '2611',
 '2612',
 '2613',
 '2614',
 '2615',
 '2616',
 '2617',
 '2618',
 '2630',
 '2633',
 '2634',
 '2636',
 '2642',
 '2701',
 '2702',
 '2704',
 '2705',
 '2706',
 '2707',
 '2712',
 '2722',
 '2727',
 '2731',
 '2739',
 '2748',
 '2753',
 '2901',
 '2903',
 '2904',
 '2905',
 '2906',
 '2908',
 '2910',
 '2911',
 '2912',
 '2913',
 '2915',
 '2945',
 '3002',
 '3003',
 '3004',
 '3005',
 '3006',
 '3008',
 '3010',
 '3011',
 '3013',
 '3014',
 '3015',
 '3016',
 '3017',
 '3018',
 '3019',
 '3021',
 '3022',
 '3023',
 '3024',
 '3025',
 '3026',
 '3027',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3035',
 '3036',
 '3037',
 '3038',
 '3040',
 '3041',
 '3042',
 '3043',
 '3044',
 '3045',
 '3046',
 '3047',
 '3048',
 '3049',
 '3050',
 '3051',
 '3052',
 '3054',
 '3055',
 '3056',
 '3057',
 '3058',
 '3059',
 '3060',
 '3062',
 '3090',
 '3092',
 '3094',
 '3130',
 '3138',
 '3149',
 '3164',
 '3167',
 '3189',
 '3209',
 '3229',
 '3231',
 '3257',
 '3266',
 '3296',
 '3305',
 '3308',
 '3311',
 '3312',
 '3321',
 '3338',
 '3346',
 '3356',
 '3376',
 '3380',
 '3406',
 '3413',
 '3416',
 '3419',
 '3432',
 '3437',
 '3443',
 '3447',
 '3450',
 '3454',
 '3481',
 '3494',
 '3501',
 '3504',
 '3515',
 '3518',
 '3528',
 '3530',
 '3532',
 '3533',
 '3535',
 '3536',
 '3543',
 '3545',
 '3550',
 '3557',
 '3563',
 '3576',
 '3583',
 '3588',
 '3591',
 '3592',
 '3593',
 '3596',
 '3605',
 '3607',
 '3617',
 '3622',
 '3645',
 '3652',
 '3653',
 '3669',
 '3679',
 '3682',
 '3686',
 '3694',
 '3701',
 '3702',
 '3703',
 '3704',
 '3705',
 '3706',
 '3708',
 '3711',
 '3712',
 '3714',
 '3715',
 '4104',
 '4106',
 '4108',
 '4119',
 '4133',
 '4142',
 '4155',
 '4164',
 '4306',
 '4414',
 '4426',
 '4438',
 '4440',
 '4526',
 '4532',
 '4536',
 '4540',
 '4545',
 '4551',
 '4555',
 '4562',
 '4564',
 '4566',
 '4572',
 '4576',
 '4583',
 '4720',
 '4722',
 '4737',
 '4739',
 '4746',
 '4755',
 '4764',
 '4766',
 '4770',
 '4904',
 '4906',
 '4915',
 '4916',
 '4919',
 '4930',
 '4934',
 '4938',
 '4942',
 '4952',
 '4956',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '4999',
 '5007',
 '5203',
 '5222',
 '5234',
 '5244',
 '5258',
 '5269',
 '5283',
 '5285',
 '5306',
 '5388',
 '5434',
 '5469',
 '5471',
 '5484',
 '5515',
 '5519',
 '5521',
 '5522',
 '5525',
 '5531',
 '5533',
 '5534',
 '5607',
 '5608',
 '5706',
 '6108',
 '6112',
 '6115',
 '6116',
 '6117',
 '6120',
 '6128',
 '6133',
 '6136',
 '6139',
 '6141',
 '6142',
 '6152',
 '6153',
 '6155',
 '6164',
 '6165',
 '6166',
 '6168',
 '6176',
 '6177',
 '6183',
 '6184',
 '6189',
 '6191',
 '6192',
 '6196',
 '6197',
 '6201',
 '6202',
 '6205',
 '6206',
 '6209',
 '6213',
 '6214',
 '6215',
 '6216',
 '6224',
 '6225',
 '6226',
 '6230',
 '6235',
 '6239',
 '6243',
 '6257',
 '6269',
 '6271',
 '6277',
 '6278',
 '6281',
 '6282',
 '6283',
 '6285',
 '6288',
 '6405',
 '6409',
 '6412',
 '6414',
 '6416',
 '6426',
 '6438',
 '6442',
 '6443',
 '6449',
 '6464',
 '6477',
 '6491',
 '6504',
 '6505',
 '6515',
 '6531',
 '6533',
 '6552',
 '6558',
 '6579',
 '6581',
 '6582',
 '6585',
 '6592',
 '6605',
 '6625',
 '6655',
 '6668',
 '6669',
 '6670',
 '6674',
 '6689',
 '6691',
 '6695',
 '6698',
 '6706',
 '6715',
 '6719',
 '6743',
 '6754',
 '6756',
 '6770',
 '6776',
 '6782',
 '6789',
 '6790',
 '6792',
 '6796',
 '6799',
 '6806',
 '6830',
 '6834',
 '6835',
 '8011',
 '8016',
 '8021',
 '8028',
 '8033',
 '8039',
 '8046',
 '8070',
 '8072',
 '8081',
 '8101',
 '8103',
 '8104',
 '8105',
 '8110',
 '8112',
 '8114',
 '8131',
 '8150',
 '8163',
 '8201',
 '8210',
 '8213',
 '8215',
 '8222',
 '8249',
 '8261',
 '8271',
 '8341',
 '8367',
 '8374',
 '8422',
 '8438',
 '8443',
 '8454',
 '8462',
 '8463',
 '8464',
 '8473',
 '8478',
 '8481',
 '8926',
 '8940',
 '8996',
 '9902',
 '9904',
 '9905',
 '9906',
 '9907',
 '9908',
 '9910',
 '9911',
 '9912',
 '9914',
 '9917',
 '9918',
 '9919',
 '9921',
 '9924',
 '9925',
 '9926',
 '9927',
 '9928',
 '9929',
 '9930',
 '9931',
 '9933',
 '9934',
 '9935',
 '9937',
 '9938',
 '9939',
 '9940',
 '9941',
 '9942',
 '9943',
 '9944',
 '9945',
 '9946',
 '9955',
 '9958']

In [4]:
import TejToolAPI

start_time = pd.Timestamp('2022-01-01')
end_time = pd.Timestamp('2023-12-29')  # 將時間字串轉換成時間格式

data = TejToolAPI.get_history_data(start = start_time,
                                   end = end_time,
                                   ticker = pool,  # 填入：正確參數名稱 & 股票池列表 ( list )
                                   fin_type = 'A', # 為累計資料，舉例來說，Q3累計：1月～9月的資料。
                                   columns = ['本益比','非流動負債合計','股東權益總計','營運產生現金流量','總股本(仟元)','稅後淨利成長率','投資產生現金流量','融資產生現金流量'],
                                   transfer_to_chinese = True)


data

Currently used TEJ API key call quota 252/1000 (25.2%)
Currently used TEJ API key data quota 2877577/10000000 (28.78%)

,股票代碼,日期,本益比,融資產生現金流量_A,營運產生現金流量_A,稅後淨利成長率_A,股東權益總計_A,非流動負債合計_A,投資產生現金流量_A,總股本(仟元)
0,1101,2022-01-03,14.00,1326492.0,12393450.0,-21.57,220920689.0,106954607.0,-4913382.0,61252340.0
1,1101,2022-01-04,13.87,1326492.0,12393450.0,-21.57,220920689.0,106954607.0,-4913382.0,61252340.0
2,1101,2022-01-05,13.83,1326492.0,12393450.0,-21.57,220920689.0,106954607.0,-4913382.0,61252340.0
3,1101,2022-01-06,13.96,1326492.0,12393450.0,-21.57,220920689.0,106954607.0,-4913382.0,61252340.0
4,1101,2022-01-07,13.91,1326492.0,12393450.0,-21.57,220920689.0,106954607.0,-4913382.0,61252340.0
...,...,...,...,...,...,...,...,...,...,...
415398,9958,2023-12-25,87.96,5589440.0,-559015.0,34.46,11330201.0,14403423.0,-4731635.0,2359796.0
415399,9958,2023-12-26,90.31,5589440.0,-559015.0,34.46,11330201.0,14403423.0,-4731635.0,2359796.0
415400,9958,2023-12-27,87.96,5589440.0,-559015.0,34.46,11330201.0,14403423.0,-4731635.0,2359796.0
415401,9958,2023-12-28,90.84,5589440.0,-559015.0,34.46,11330201.0,14403423.0,-4731635.0,2359796.0
415402,9958,2023-12-29,91.36,5589440.0,-559015.0,34.46,11330201.0,14403423.0,-4731635.0,2383471.0

In [5]:
#條件一
# 取出最近年度(2022-12-30)的資料
data_last_1Y = data[data['日期'] == '2023-12-29'].reset_index(drop = True)  

# 取出股票基本資料與本益比資料方便觀察
PE_1Y_data = data_last_1Y[['股票代碼', '日期', '本益比']]

PE_1Y_data

     股票代碼         日期     本益比
0    1101 2023-12-29   29.53
1    1102 2023-12-29   14.44
2    1103 2023-12-29   73.27
3    1104 2023-12-29    8.87
4    1108 2023-12-29    8.59
..    ...        ...     ...
854  9944 2023-12-29    6.05
855  9945 2023-12-29   18.15
856  9946 2023-12-29  120.00
857  9955 2023-12-29     NaN
858  9958 2023-12-29   91.36

[859 rows x 3 columns]

In [6]:
# 依不同產業分類，計算出平均本益比
# 填入：欲進行分類的財務科目
PE_ave = PE_1Y_data.groupby('股票代碼')['本益比'].transform('mean') 

# 加入 '平均本益比' 欄位
PE_1Y_data['平均本益比'] = PE_ave
 
PE_1Y_data

     股票代碼         日期     本益比   平均本益比
0    1101 2023-12-29   29.53   29.53
1    1102 2023-12-29   14.44   14.44
2    1103 2023-12-29   73.27   73.27
3    1104 2023-12-29    8.87    8.87
4    1108 2023-12-29    8.59    8.59
..    ...        ...     ...     ...
854  9944 2023-12-29    6.05    6.05
855  9945 2023-12-29   18.15   18.15
856  9946 2023-12-29  120.00  120.00
857  9955 2023-12-29     NaN     NaN
858  9958 2023-12-29   91.36   91.36

[859 rows x 4 columns]

In [7]:
set_1 = set(PE_1Y_data[PE_1Y_data['平均本益比'] <= 10]['股票代碼'])  # 篩選符合選股條件的公司
set_1

{'1104',
 '1108',
 '1218',
 '1310',
 '1312',
 '1313',
 '1314',
 '1438',
 '1568',
 '1609',
 '1808',
 '1909',
 '2008',
 '2014',
 '2024',
 '2025',
 '2303',
 '2305',
 '2387',
 '2390',
 '2408',
 '2409',
 '2443',
 '2488',
 '2489',
 '2506',
 '2520',
 '2534',
 '2535',
 '2546',
 '2603',
 '2609',
 '2615',
 '2617',
 '2618',
 '2636',
 '2702',
 '2905',
 '3022',
 '3056',
 '3308',
 '3312',
 '3432',
 '3481',
 '3708',
 '4930',
 '5525',
 '5533',
 '6116',
 '6128',
 '6414',
 '6670',
 '8101',
 '8163',
 '8201',
 '9906',
 '9919',
 '9944'}

In [8]:
len(set_1)

58

In [9]:
#條件2
#計算長期負債/所有者權益
data1_last_1Y = data[data['日期'].isin( ['2023-12-29'])].reset_index(drop = True)

r_1Y_data = data1_last_1Y[['股票代碼', '日期', '非流動負債合計_A','股東權益總計_A']]

r_1Y_data

     股票代碼         日期    非流動負債合計_A     股東權益總計_A
0    1101 2023-12-29  133852417.0  244726491.0
1    1102 2023-12-29   59799527.0  191706450.0
2    1103 2023-12-29   10448346.0   21993122.0
3    1104 2023-12-29    1658900.0   22777981.0
4    1108 2023-12-29    1680821.0    5004310.0
..    ...        ...          ...          ...
854  9944 2023-12-29    1079712.0    3636900.0
855  9945 2023-12-29   44133601.0   91714441.0
856  9946 2023-12-29    2601433.0    6379966.0
857  9955 2023-12-29     785288.0    1342462.0
858  9958 2023-12-29   14403423.0   11330201.0

[859 rows x 4 columns]

In [10]:
#計算企業平均非流動負債
Loan_ave = r_1Y_data.groupby('股票代碼')['非流動負債合計_A'].transform('mean')
#計算企業平均所有者權益
Equity_ave=r_1Y_data.groupby('股票代碼')['股東權益總計_A'].transform('mean')

r_1Y_data['長期負債/所有者權益'] = Loan_ave/Equity_ave
r_1Y_data

     股票代碼         日期    非流動負債合計_A     股東權益總計_A  長期負債/所有者權益
0    1101 2023-12-29  133852417.0  244726491.0    0.546947
1    1102 2023-12-29   59799527.0  191706450.0    0.311933
2    1103 2023-12-29   10448346.0   21993122.0    0.475073
3    1104 2023-12-29    1658900.0   22777981.0    0.072829
4    1108 2023-12-29    1680821.0    5004310.0    0.335875
..    ...        ...          ...          ...         ...
854  9944 2023-12-29    1079712.0    3636900.0    0.296877
855  9945 2023-12-29   44133601.0   91714441.0    0.481207
856  9946 2023-12-29    2601433.0    6379966.0    0.407750
857  9955 2023-12-29     785288.0    1342462.0    0.584961
858  9958 2023-12-29   14403423.0   11330201.0    1.271242

[859 rows x 5 columns]

In [11]:
set_2 = set(r_1Y_data[r_1Y_data['長期負債/所有者權益'] <= 1/3]['股票代碼'])  # 篩選符合選股條件的公司
set_2

{'1102',
 '1104',
 '1109',
 '1110',
 '1203',
 '1210',
 '1218',
 '1220',
 '1227',
 '1229',
 '1232',
 '1233',
 '1234',
 '1235',
 '1236',
 '1301',
 '1304',
 '1307',
 '1308',
 '1309',
 '1310',
 '1315',
 '1316',
 '1319',
 '1324',
 '1325',
 '1326',
 '1339',
 '1342',
 '1410',
 '1414',
 '1416',
 '1417',
 '1419',
 '1423',
 '1434',
 '1435',
 '1437',
 '1439',
 '1444',
 '1445',
 '1447',
 '1451',
 '1452',
 '1453',
 '1454',
 '1455',
 '1459',
 '1460',
 '1463',
 '1465',
 '1468',
 '1470',
 '1471',
 '1472',
 '1473',
 '1474',
 '1475',
 '1476',
 '1477',
 '1503',
 '1504',
 '1506',
 '1514',
 '1515',
 '1516',
 '1517',
 '1519',
 '1521',
 '1525',
 '1527',
 '1528',
 '1530',
 '1531',
 '1535',
 '1537',
 '1538',
 '1539',
 '1540',
 '1541',
 '1558',
 '1560',
 '1568',
 '1582',
 '1583',
 '1587',
 '1603',
 '1604',
 '1608',
 '1611',
 '1612',
 '1614',
 '1615',
 '1616',
 '1617',
 '1618',
 '1701',
 '1707',
 '1709',
 '1711',
 '1712',
 '1713',
 '1714',
 '1720',
 '1721',
 '1723',
 '1725',
 '1726',
 '1727',
 '1730',
 '1731',
 '1732',
 '1733',
 '1735',
 '1737',
 '1752',
 '1760',
 '1762',
 '1776',
 '1783',
 '1786',
 '1789',
 '1802',
 '1805',
 '1806',
 '1809',
 '1810',
 '1817',
 '1905',
 '1906',
 '1907',
 '2006',
 '2009',
 '2010',
 '2013',
 '2015',
 '2020',
 '2022',
 '2025',
 '2028',
 '2029',
 '2032',
 '2033',
 '2034',
 '2049',
 '2059',
 '2062',
 '2069',
 '2103',
 '2104',
 '2107',
 '2108',
 '2109',
 '2114',
 '2201',
 '2204',
 '2211',
 '2227',
 '2228',
 '2233',
 '2247',
 '2301',
 '2302',
 '2303',
 '2305',
 '2316',
 '2317',
 '2323',
 '2324',
 '2328',
 '2329',
 '2331',
 '2332',
 '2340',
 '2342',
 '2345',
 '2347',
 '2351',
 '2353',
 '2354',
 '2355',
 '2356',
 '2357',
 '2359',
 '2360',
 '2363',
 '2364',
 '2365',
 '2368',
 '2369',
 '2374',
 '2375',
 '2376',
 '2377',
 '2379',
 '2380',
 '2382',
 '2383',
 '2385',
 '2387',
 '2388',
 '2390',
 '2393',
 '2395',
 '2397',
 '2399',
 '2401',
 '2402',
 '2404',
 '2405',
 '2406',
 '2408',
 '2412',
 '2414',
 '2415',
 '2417',
 '2419',
 '2420',
 '2421',
 '2423',
 '2425',
 '2426',
 '2428',
 '2431',
 '2433',
 '2434',
 '2436',
 '2438',
 '2439',
 '2440',
 '2441',
 '2442',
 '2443',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2457',
 '2458',
 '2459',
 '2460',
 '2461',
 '2462',
 '2464',
 '2468',
 '2471',
 '2472',
 '2474',
 '2476',
 '2478',
 '2480',
 '2482',
 '2483',
 '2484',
 '2485',
 '2488',
 '2489',
 '2491',
 '2492',
 '2493',
 '2495',
 '2496',
 '2497',
 '2504',
 '2505',
 '2506',
 '2509',
 '2514',
 '2516',
 '2520',
 '2527',
 '2530',
 '2534',
 '2538',
 '2539',
 '2543',
 '2546',
 '2548',
 '2605',
 '2607',
 '2609',
 '2611',
 '2630',
 '2636',
 '2701',
 '2704',
 '2706',
 '2712',
 '2722',
 '2731',
 '2753',
 '2901',
 '2906',
 '2915',
 '3002',
 '3003',
 '3005',
 '3006',
 '3008',
 '3011',
 '3014',
 '3015',
 '3016',
 '3019',
 '3021',
 '3022',
 '3023',
 '3024',
 '3025',
 '3026',
 '3027',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3035',
 '3036',
 '3038',
 '3040',
 '3041',
 '3042',
 '3043',
 '3044',
 '3046',
 '3048',
 '3052',
 '3054',
 '3055',
 '3056',
 '3057',
 '3059',
 '3060',
 '3062',
 '3090',
 '3094',
 '3130',
 '3164',
 '3209',
 '3229',
 '3231',
 '3257',
 '3266',
 '3296',
 '3305',
 '3308',
 '3311',
 '3312',
 '3338',
 '3356',
 '3376',
 '3380',
 '3413',
 '3416',
 '3419',
 '3432',
 '3437',
 '3443',
 '3447',
 '3450',
 '3454',
 '3481',
 '3501',
 '3504',
 '3515',
 '3518',
 '3528',
 '3530',
 '3532',
 '3533',
 '3535',
 '3543',
 '3557',
 '3563',
 '3583',
 '3588',
 '3591',
 '3592',
 '3593',
 '3596',
 '3607',
 '3617',
 '3622',
 '3645',
 '3652',
 '3653',
 '3669',
 '3686',
 '3694',
 '3701',
 '3704',
 '3705',
 '3706',
 '3708',
 '3714',
 '4104',
 '4106',
 '4108',
 '4119',
 '4133',
 '4142',
 '4155',
 '4414',
 '4438',
 '4526',
 '4532',
 '4536',
 '4545',
 '4551',
 '4555',
 '4572',
 '4576',
 '4583',
 '4720',
 '4722',
 '4739',
 '4746',
 '4755',
 '4766',
 '4770',
 '4906',
 '4915',
 '4934',
 '4938',
 '4942',
 '4952',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '4999',
 '5007',
 '5203',
 '5222',
 '5234',
 '5244',
 '5258',
 '5269',
 '5283',
 '5306',
 '5434',
 '5469',
 '5471',
 '5484',
 '5515',
 '5521',
 '5522',
 '5525',
 '5533',
 '5534',
 '5706',
 '6108',
 '6112',
 '6115',
 '6116',
 '6128',
 '6133',
 '6136',
 '6139',
 '6142',
 '6152',
 '6155',
 '6164',
 '6168',
 '6176',
 '6183',
 '6184',
 '6189',
 '6191',
 '6192',
 '6197',
 '6201',
 '6202',
 '6205',
 '6206',
 '6209',
 '6213',
 '6214',
 '6215',
 '6216',
 '6224',
 '6225',
 '6230',
 '6235',
 '6243',
 '6269',
 '6271',
 '6277',
 '6278',
 '6283',
 '6285',
 '6288',
 '6405',
 '6409',
 '6412',
 '6414',
 '6416',
 '6426',
 '6442',
 '6443',
 '6449',
 '6491',
 '6505',
 '6515',
 '6531',
 '6533',
 '6558',
 '6579',
 '6581',
 '6582',
 '6585',
 '6592',
 '6625',
 '6668',
 '6669',
 '6670',
 '6674',
 '6689',
 '6691',
 '6695',
 '6698',
 '6706',
 '6715',
 '6719',
 '6743',
 '6754',
 '6756',
 '6776',
 '6782',
 '6789',
 '6790',
 '6792',
 '6799',
 '6806',
 '6830',
 '6834',
 '6835',
 '8016',
 '8021',
 '8033',
 '8046',
 '8072',
 '8081',
 '8103',
 '8105',
 '8110',
 '8131',
 '8163',
 '8201',
 '8213',
 '8249',
 '8261',
 '8271',
 '8374',
 '8438',
 '8454',
 '8464',
 '8481',
 '8926',
 '8996',
 '9902',
 '9904',
 '9905',
 '9907',
 '9908',
 '9911',
 '9912',
 '9914',
 '9921',
 '9924',
 '9925',
 '9927',
 '9941',
 '9942',
 '9943',
 '9944'}

In [12]:
len(set_2)

582

In [13]:
#條件3
#計算每股經營淨現金流量
data1_last_1Y = data[data['日期'].isin( ['2023-12-29'])].reset_index(drop = True)

CashFlow_1Y_data = data1_last_1Y[['股票代碼', '日期', '總股本(仟元)','營運產生現金流量_A','投資產生現金流量_A','融資產生現金流量_A']]

CashFlow_1Y_data

     股票代碼         日期     總股本(仟元)  營運產生現金流量_A  投資產生現金流量_A  融資產生現金流量_A
0    1101 2023-12-29  75511817.0  19954188.0 -31530951.0  -6689946.0
1    1102 2023-12-29  35465629.0   3933530.0  -5975323.0  -4169621.0
2    1103 2023-12-29   7902475.0   -159141.0  -1875415.0   -189487.0
3    1104 2023-12-29   6732175.0   1340510.0   1121339.0  -1713091.0
4    1108 2023-12-29         NaN    498511.0    -97625.0   -384053.0
..    ...        ...         ...         ...         ...         ...
854  9944 2023-12-29         NaN     57256.0    -61247.0      4785.0
855  9945 2023-12-29  28442251.0   1219026.0   -432327.0  -3691712.0
856  9946 2023-12-29   3265542.0   -432835.0    105625.0   -197387.0
857  9955 2023-12-29         NaN     38854.0   -214668.0     66929.0
858  9958 2023-12-29   2383471.0   -559015.0  -4731635.0   5589440.0

[859 rows x 6 columns]

In [14]:
#計算企業平均流通在外股數
Stock_ave = CashFlow_1Y_data.groupby('股票代碼')['總股本(仟元)'].transform('mean')*100
#計算企業平均營運產生現金流量
OCF_ave=CashFlow_1Y_data.groupby('股票代碼')['營運產生現金流量_A'].transform('mean')
#計算企業平均投資產生現金流量
ICF_ave=CashFlow_1Y_data.groupby('股票代碼')['投資產生現金流量_A'].transform('mean')
#計算企業平均融資產生現金流量
FCF_ave=CashFlow_1Y_data.groupby('股票代碼')['融資產生現金流量_A'].transform('mean')

CashFlow_1Y_data['每股經營淨現金流量'] = (OCF_ave-ICF_ave+FCF_ave)/Stock_ave

CashFlow_1Y_data

,股票代碼,日期,總股本(仟元),營運產生現金流量_A,投資產生現金流量_A,融資產生現金流量_A,每股經營淨現金流量
0,1101,2023-12-29,75511817.0,19954188.0,-31530951.0,-6689946.0,0.005932
1,1102,2023-12-29,35465629.0,3933530.0,-5975323.0,-4169621.0,0.001618
2,1103,2023-12-29,7902475.0,-159141.0,-1875415.0,-189487.0,0.001932
3,1104,2023-12-29,6732175.0,1340510.0,1121339.0,-1713091.0,-0.002219
4,1108,2023-12-29,NaN,498511.0,-97625.0,-384053.0,NaN
...,...,...,...,...,...,...,...
854,9944,2023-12-29,NaN,57256.0,-61247.0,4785.0,NaN
855,9945,2023-12-29,28442251.0,1219026.0,-432327.0,-3691712.0,-0.000717
856,9946,2023-12-29,3265542.0,-432835.0,105625.0,-197387.0,-0.002253
857,9955,2023-12-29,NaN,38854.0,-214668.0,66929.0,NaN
858,9958,2023-12-29,2383471.0,-559015.0,-4731635.0,5589440.0,0.040957

In [15]:
set_3 = set(CashFlow_1Y_data[CashFlow_1Y_data['每股經營淨現金流量'] > 0]['股票代碼'])  # 篩選符合選股條件的公司
set_3

{'1101',
 '1102',
 '1103',
 '1210',
 '1215',
 '1219',
 '1229',
 '1231',
 '1235',
 '1236',
 '1305',
 '1309',
 '1312',
 '1313',
 '1314',
 '1316',
 '1339',
 '1342',
 '1409',
 '1423',
 '1432',
 '1438',
 '1444',
 '1447',
 '1449',
 '1451',
 '1453',
 '1460',
 '1473',
 '1475',
 '1506',
 '1513',
 '1514',
 '1517',
 '1528',
 '1529',
 '1532',
 '1538',
 '1558',
 '1560',
 '1582',
 '1587',
 '1597',
 '1604',
 '1605',
 '1609',
 '1615',
 '1617',
 '1618',
 '1708',
 '1717',
 '1718',
 '1727',
 '1760',
 '1773',
 '1776',
 '1783',
 '1786',
 '1795',
 '1805',
 '1806',
 '1808',
 '1810',
 '1909',
 '2006',
 '2012',
 '2017',
 '2022',
 '2023',
 '2027',
 '2031',
 '2034',
 '2038',
 '2049',
 '2062',
 '2069',
 '2106',
 '2107',
 '2114',
 '2201',
 '2206',
 '2207',
 '2208',
 '2231',
 '2301',
 '2303',
 '2312',
 '2323',
 '2327',
 '2329',
 '2330',
 '2337',
 '2338',
 '2340',
 '2344',
 '2345',
 '2348',
 '2362',
 '2364',
 '2365',
 '2367',
 '2368',
 '2374',
 '2379',
 '2383',
 '2385',
 '2387',
 '2388',
 '2395',
 '2406',
 '2408',
 '2409',
 '2419',
 '2421',
 '2424',
 '2425',
 '2427',
 '2429',
 '2430',
 '2439',
 '2442',
 '2444',
 '2457',
 '2461',
 '2462',
 '2465',
 '2466',
 '2467',
 '2472',
 '2474',
 '2477',
 '2478',
 '2481',
 '2482',
 '2486',
 '2489',
 '2497',
 '2498',
 '2539',
 '2540',
 '2542',
 '2543',
 '2546',
 '2547',
 '2601',
 '2610',
 '2614',
 '2615',
 '2618',
 '2630',
 '2636',
 '2722',
 '2727',
 '2731',
 '2748',
 '2753',
 '2911',
 '2945',
 '3004',
 '3005',
 '3006',
 '3008',
 '3010',
 '3013',
 '3016',
 '3017',
 '3019',
 '3021',
 '3023',
 '3025',
 '3026',
 '3027',
 '3028',
 '3029',
 '3031',
 '3036',
 '3037',
 '3038',
 '3042',
 '3043',
 '3045',
 '3046',
 '3048',
 '3049',
 '3051',
 '3057',
 '3059',
 '3062',
 '3092',
 '3164',
 '3167',
 '3189',
 '3231',
 '3257',
 '3305',
 '3308',
 '3312',
 '3321',
 '3338',
 '3346',
 '3356',
 '3376',
 '3406',
 '3413',
 '3416',
 '3447',
 '3454',
 '3481',
 '3515',
 '3518',
 '3530',
 '3533',
 '3545',
 '3550',
 '3563',
 '3576',
 '3583',
 '3588',
 '3596',
 '3605',
 '3617',
 '3645',
 '3652',
 '3653',
 '3679',
 '3686',
 '3694',
 '3701',
 '3704',
 '3708',
 '3711',
 '3714',
 '3715',
 '4119',
 '4155',
 '4164',
 '4306',
 '4438',
 '4440',
 '4540',
 '4555',
 '4562',
 '4564',
 '4566',
 '4572',
 '4576',
 '4720',
 '4737',
 '4739',
 '4746',
 '4764',
 '4904',
 '4906',
 '4915',
 '4916',
 '4930',
 '4934',
 '4938',
 '4961',
 '4967',
 '4968',
 '4976',
 '5203',
 '5222',
 '5244',
 '5258',
 '5269',
 '5285',
 '5388',
 '5434',
 '5484',
 '5515',
 '5521',
 '5607',
 '5706',
 '6141',
 '6153',
 '6165',
 '6191',
 '6192',
 '6196',
 '6205',
 '6209',
 '6213',
 '6214',
 '6216',
 '6224',
 '6226',
 '6235',
 '6239',
 '6243',
 '6257',
 '6271',
 '6282',
 '6283',
 '6285',
 '6288',
 '6412',
 '6414',
 '6416',
 '6438',
 '6442',
 '6443',
 '6464',
 '6477',
 '6491',
 '6515',
 '6531',
 '6533',
 '6558',
 '6585',
 '6592',
 '6625',
 '6655',
 '6670',
 '6695',
 '6706',
 '6715',
 '6719',
 '6743',
 '6756',
 '6770',
 '6782',
 '6789',
 '6790',
 '6796',
 '6799',
 '6806',
 '6830',
 '6834',
 '6835',
 '8011',
 '8028',
 '8033',
 '8070',
 '8103',
 '8104',
 '8110',
 '8210',
 '8271',
 '8341',
 '8367',
 '8422',
 '8438',
 '8462',
 '8473',
 '8478',
 '8926',
 '9910',
 '9912',
 '9921',
 '9927',
 '9928',
 '9931',
 '9933',
 '9934',
 '9935',
 '9941',
 '9943',
 '9958'}

In [16]:
len(set_3)

360

In [17]:
#條件4
#計算每股經營淨現金流量
data1_last_1Y = data[data['日期'].isin( ['2023-12-29'])].reset_index(drop = True)

growth_NI_1Y_data = data1_last_1Y[['股票代碼', '日期', '稅後淨利成長率_A']]
growth_NI_1Y_data

     股票代碼         日期  稅後淨利成長率_A
0    1101 2023-12-29     382.81
1    1102 2023-12-29     -18.03
2    1103 2023-12-29    -170.14
3    1104 2023-12-29      28.09
4    1108 2023-12-29      53.77
..    ...        ...        ...
854  9944 2023-12-29     197.23
855  9945 2023-12-29     -21.74
856  9946 2023-12-29     -86.40
857  9955 2023-12-29     -23.16
858  9958 2023-12-29      34.46

[859 rows x 3 columns]

In [18]:
# 依不同產業分類，計算出平均本益比
# 填入：欲進行分類的財務科目
growth_NI_ave = growth_NI_1Y_data.groupby('股票代碼')['稅後淨利成長率_A'].transform('mean') 

# 加入 '平均本益比' 欄位
growth_NI_1Y_data['平均稅後淨利成長率']=growth_NI_ave
 
growth_NI_1Y_data

     股票代碼         日期  稅後淨利成長率_A  平均稅後淨利成長率
0    1101 2023-12-29     382.81     382.81
1    1102 2023-12-29     -18.03     -18.03
2    1103 2023-12-29    -170.14    -170.14
3    1104 2023-12-29      28.09      28.09
4    1108 2023-12-29      53.77      53.77
..    ...        ...        ...        ...
854  9944 2023-12-29     197.23     197.23
855  9945 2023-12-29     -21.74     -21.74
856  9946 2023-12-29     -86.40     -86.40
857  9955 2023-12-29     -23.16     -23.16
858  9958 2023-12-29      34.46      34.46

[859 rows x 4 columns]

In [19]:
set_4 = set(growth_NI_1Y_data[growth_NI_1Y_data['平均稅後淨利成長率'] > 20]['股票代碼'])  # 篩選符合選股條件的公司
set_4

{'1101',
 '1104',
 '1108',
 '1109',
 '1110',
 '1210',
 '1213',
 '1215',
 '1220',
 '1233',
 '1307',
 '1310',
 '1312',
 '1319',
 '1321',
 '1325',
 '1416',
 '1423',
 '1437',
 '1441',
 '1442',
 '1446',
 '1455',
 '1460',
 '1463',
 '1470',
 '1472',
 '1504',
 '1519',
 '1525',
 '1529',
 '1532',
 '1533',
 '1568',
 '1582',
 '1598',
 '1603',
 '1609',
 '1611',
 '1612',
 '1615',
 '1618',
 '1702',
 '1713',
 '1714',
 '1718',
 '1722',
 '1734',
 '1735',
 '1752',
 '1783',
 '1786',
 '1795',
 '1909',
 '2007',
 '2008',
 '2010',
 '2014',
 '2020',
 '2031',
 '2033',
 '2102',
 '2105',
 '2114',
 '2201',
 '2206',
 '2208',
 '2211',
 '2247',
 '2348',
 '2355',
 '2362',
 '2364',
 '2365',
 '2382',
 '2402',
 '2404',
 '2406',
 '2409',
 '2421',
 '2429',
 '2431',
 '2434',
 '2436',
 '2438',
 '2440',
 '2442',
 '2453',
 '2457',
 '2460',
 '2462',
 '2465',
 '2471',
 '2482',
 '2486',
 '2493',
 '2495',
 '2501',
 '2509',
 '2514',
 '2527',
 '2528',
 '2538',
 '2540',
 '2542',
 '2543',
 '2546',
 '2601',
 '2605',
 '2608',
 '2610',
 '2618',
 '2630',
 '2633',
 '2634',
 '2704',
 '2707',
 '2712',
 '2727',
 '2748',
 '2901',
 '2903',
 '2910',
 '2913',
 '2945',
 '3004',
 '3005',
 '3011',
 '3014',
 '3025',
 '3027',
 '3032',
 '3046',
 '3050',
 '3062',
 '3257',
 '3266',
 '3296',
 '3321',
 '3356',
 '3416',
 '3550',
 '3596',
 '3617',
 '3694',
 '3708',
 '3715',
 '4119',
 '4562',
 '4572',
 '4720',
 '4746',
 '4766',
 '4906',
 '4916',
 '4956',
 '4976',
 '4994',
 '5222',
 '5234',
 '5258',
 '5388',
 '5515',
 '5525',
 '6108',
 '6112',
 '6116',
 '6139',
 '6141',
 '6191',
 '6197',
 '6201',
 '6214',
 '6230',
 '6235',
 '6283',
 '6285',
 '6414',
 '6443',
 '6477',
 '6504',
 '6579',
 '6585',
 '6668',
 '6689',
 '6806',
 '8101',
 '8163',
 '8222',
 '8367',
 '8463',
 '8926',
 '8996',
 '9906',
 '9908',
 '9912',
 '9918',
 '9927',
 '9928',
 '9940',
 '9942',
 '9943',
 '9944',
 '9958'}

In [20]:
len(set_4)

204

In [21]:
tickers = list(set_1 & set_2 & set_3 & set_4)
tickers

['2546', '6414', '3708']

In [22]:
len(tickers)

3

In [23]:
company_list = data['股票代碼'].unique().tolist()
coid = {'公司代碼': company_list}

data_combine = pd.DataFrame(coid)
data_combine['選股條件 1'] = data_combine['公司代碼'].isin(set_1)
data_combine['選股條件 2'] = data_combine['公司代碼'].isin(set_2)
data_combine['選股條件 3'] = data_combine['公司代碼'].isin(set_3)
data_combine['選股條件 4'] = data_combine['公司代碼'].isin(set_4)
data_combine['符合條件數量'] = data_combine.iloc[:, 1:5].sum(axis = 1)

data_combine

     公司代碼  選股條件 1  選股條件 2  選股條件 3  選股條件 4  符合條件數量
0    1101   False   False    True    True       2
1    1102   False    True    True   False       2
2    1103   False   False    True   False       1
3    1104    True    True   False    True       3
4    1108    True   False   False    True       2
..    ...     ...     ...     ...     ...     ...
856  9944    True    True   False    True       3
857  9945   False   False   False   False       0
858  9946   False   False   False   False       0
859  9955   False   False   False   False       0
860  9958   False   False    True    True       2

[861 rows x 6 columns]